<header>
	<pre class="logo">   
      <img src="/assets/img/knight.png">
  </pre>
	<pre class="ascii name">
      ______   _______           _        ______   _______  _______ 
    (  ___ \ (  ___  )|\     /|( \      (  __  \ (  ____ \(  ____ )
    | (   ) )| (   ) || )   ( || (      | (  \  )| (    \/| (    )|
    | (__/ / | |   | || |   | || |      | |   ) || (__    | (____)|
    |  __ (  | |   | || |   | || |      | |   | ||  __)   |     __)
    | (  \ \ | |   | || |   | || |      | |   ) || (      | (\ (   
    | )___) )| (___) || (___) || (____/\| (__/  )| (____/\| ) \ \__
    |/ \___/ (_______)(_______)(_______/(______/ (_______/|/   \__/
              _______  _______  _          _       _________ _______          _________
    |\     /|(  ___  )(  ____ \| \    /\  ( (    /|\__   __/(  ____ \|\     /|\__   __/
    | )   ( || (   ) || (    \/|  \  / /  |  \  ( |   ) (   | (    \/| )   ( |   ) (   
    | (___) || (___) || |      |  (_/ /   |   \ | |   | |   | |      | (___) |   | |   
    |  ___  ||  ___  || |      |   _ (    | (\ \) |   | |   | | ____ |  ___  |   | |   
    | (   ) || (   ) || |      |  ( \ \   | | \   |   | |   | | \_  )| (   ) |   | |   
    | )   ( || )   ( || (____/\|  /  \ \  | )  \  |___) (___| (___) || )   ( |   | |   
    |/     \||/     \|(_______/|_/    \/  |/    )_)\_______/(_______)|/     \|   )_(   
                                                                                       
</pre>
<p>An aggressively unstructured, tech agnostic, soirée</p>
</header>